html, body {
    box-sizing: border-box;
    font-size: 14px;
    background-color: #eee;
    letter-spacing: 1.5px;
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    margin-top: 80px;
}
@media (max-width: 767px) {
    .wrapper {
        margin-bottom: 80px;
    }
}

.sidebar {
    width: 40%;
    color: white;
    background-color: #044f62;
    box-shadow: 0px 0px 10px #000;

}

@media (max-width: 767px) {
    .sidebar {
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        display: inline-flex;
        overflow-x: scroll;
    }
}

/*@media (min-width: 768px) {
    .sidebar {
        display: inline-block;
        width: 40%;
    }
}*/

@media (min-width: 992px) {
    .sidebar {
        display: inline-block;
        width: 30%;
    }
}

@media (min-width: 1200px) {
    .sidebar {
        display: inline-block;
        width: 25%;
        /*margin-right: 50px;*/
    }
}


.main-area {
    margin: 0 30px;
}
